---
import BlogItem from "./BlogItem.astro";

---

<section class="blog section container">
    <h2 class="blog__title">
        Blog y Proyectos
    </h2>

    <div class="blog__grid">
        <BlogItem image="/projects/1.png" />
    </div>
</section>

<style>
    .blog__title {
        text-align: center;
    }
</style>