<section class="section container contact" id="contact">
    <div class="contact__container">
        <h2 class="contact__title">Contacto</h2>

        <form class="contact__form">
            <div class="contact__field">
                <label class="contact__label" for="name"> Nombre: </label>

                <input
                    type="text"
                    class="contact__input"
                    id="name"
                    placeholder="Escribe tu nombre"
                    name="name"
                />
            </div>

            <div class="contact__field">
                <label class="contact__label" for="number_phone">
                    Teléfono:
                </label>

                <input
                    type="tel"
                    class="contact__input"
                    id="number_phone"
                    placeholder="Escribe tu número teléfono"
                    name="number_phone"
                />
            </div>

            <div class="contact__field">
                <label class="contact__label" for="email"> E-Mail: </label>

                <input
                    type="email"
                    class="contact__input"
                    id="email"
                    placeholder="Escribe tu e-mail"
                    name="email"
                />
            </div>

            <div class="contact__field">
                <label class="contact__label" for="message"> Mensaje: </label>

                <textarea
                    class="contact__input contact__input--textarea"
                    id="message"
                    placeholder="Escribe tu mensaje"
                    name="message"></textarea>
            </div>

            <button type="submit" class="contact__button"> Enviar </button>
        </form>
    </div>
</section>

<style>
    .contact__container {
        max-width: 80rem;
        margin: -22rem auto 0 auto;
        background-color: var(--color-white);
        border: 1px solid var(--color-primary-400);
        border-radius: 1rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 3rem;
        transform: translateY(22.5rem);
    }

    .contact__title {
        text-align: center;
        margin: 0 0 3rem 0;
        color: var(--color-primary-700);
    }

    .contact__form {
        display: grid;
        gap: 2rem;
        grid-template-columns: 100%;
    }

    @media (width >= 768px) {
        .contact__form {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, auto);
        }
    }

    .contact__field {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    @media (width >= 768px) {
        .contact__field:nth-child(3),
        .contact__field:nth-child(4),
        .contact__button {
            grid-column: 1 / 3;
        }
    }

    .contact__label {
        font-size: 1.8rem;
        font-weight: bold;
        color: var(--color-primary-600);
    }

    .contact__input {
        background-color: transparent;
        padding: 1rem 2rem;
        border: 1px solid var(--color-primary-600);
        border-radius: 0.5rem;
        color: var(--color-primary-700);
    }

    .contact__input::placeholder {
        color: var(--color-primary-400);
    }

    .contact__input--textarea {
        min-height: 15rem;
    }

    .contact__button {
        padding: 1rem 2rem;
        background-color: var(--color-primary-700);
        border-radius: 0.5rem;
        border: none;
        color: var(--color-white);
        font-size: 1.8rem;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .contact__button:hover {
        background-color: var(--color-primary-800);
    }
</style>
